.home {
  width: 90%;
  background-color: rgba(0, 255, 255, 0);
  margin: 5%;
}

.cityButtons {
  margin:15% 20%;
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

