.home {
  width: 90%;
  background-color: rgba(0, 255, 255, 0);
  margin: 0 auto;
}

.cityButtons {
  margin-top: 5%;
  height:30vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

